body {
    margin: 0;
}

.top-pane {
    background-color: #606a60;
}

.pane {
    height: 50vh;
    display: flex;
}

.editor-container {
    flex-grow: 1;
    flex-basis: 0;      /* Make all the editors the same size */
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: hsl(255, 6%, 25%);
}

.editor-title {
    display: flex;
    justify-content: space-between;
    background-color: #222121;
    color: white;
    padding: .5rem .5rem .5rem 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.CodeMirror {
    height: 100% !important;
}
  
.code-mirror-wrapper {
    flex-grow: 1;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    overflow: hidden;
}

.editor-container.collapsed {
    /* Setting to zero will make the elment take up the least space as possible */ 
    flex-grow: 0;
}

/* Allow the editor to reduce its width if the text is long */
.editor-container.collapsed .CodeMirror-scroll {
    position: absolute;
    overflow: hidden !important;
}

.expand-collapse-btn {
    margin-left: .5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}